/* BREADCRUMB */
.container-breadcrumb{
    position: sticky;
    top:8%;
    background-color: $color-fondo;
    z-index: 2;
    display: flex;
    flex-flow: column wrap;
    padding-top: 21px;
    &.active{
        box-shadow: 0px 10px 15px -15px rgba(34,34,34,0.5);
    }
}
.breadcrumb{
    margin-bottom: 10px;
    height: fit-content;
    line-height: 18px;
}
.breadcrumb-item{
    transition: all ease-in 150ms;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 0px; 
    
        &.shrink{
            font-size: 13px;
        }
        a{
            color: $color-dark-blue;
            text-decoration: none;
        }
        &.active {
            color: $color-blue;
            &::before{
                color: $color-dark-blue;
            }
    }
}
.breadcrumb-mensaje{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
    color: $color-dark;
    padding-bottom: 10px;
    margin-left: auto;
    

    button{
        color: $color-blue;
        font-size:15px;
        margin: 0 10px  8px 0;
        font-weight: 600;
        border: 0;  
        text-decoration: underline;
        background-color: $color-cards;
        transition: ease-in color 250ms;
        background-color: #fafafa;
        &:hover{
            color: $color-cargo-activo;
            transition: ease-in color 250ms;
        }
        .bi-download{
            display: none;
        }
    }
}

// MOBILE
@media (max-width:$tablet){
    .container-breadcrumb{
        top:0;
        z-index: 2;
    }
    .breadcrumb-item{
        &.shrink{
            font-size: 12px;
        }
        &:first-child{
            margin-left: 10px;
        }
    }
    .breadcrumb-mensaje{
        padding-bottom: 10px;
        span{
            padding-bottom: 0;
            font-size: 11px;
            margin: 0 10px 0 0;
        }
        button{
            .telegrama-btn-p{
                display: none;
            }
            .bi-download{
                display: flex;
            }
        }
    }
    .breadcrumb-item{
        font-size: 12px;
    }
}



@media (min-width:$biggerDesktop){
    .container-breadcrumb{
        height: 150px;
        .breadcrumb{
            .breadcrumb-item{
                font-size: 40px;
            }
        }
        .breadcrumb-mensaje{
            span{
                font-size: 23px;
                margin: 0;
            }
        }
    }
}