/* FOOTER */
footer{
    display: flex;
    // width: 100%;
    justify-content: center;
    font-weight: 400;
    order:5;
    margin-top: 20px;
    p{
        font-size: 13px;
    }
}


// Mobile
@media (max-width:$tablet){
    footer{
        text-align: center;
        // margin-top: -20px;
        padding: 15px 36px;
        // margin-top: 20px;
        p{
            font-size: 12px;
        }
    }
}
@media (min-width: $biggerDesktop){
    footer{
        p{
            font-size: 30px;
        }
    }
}
